/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/var/sessions/*
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/data/media/*
/web/media/cache

#do not include node_modules
/web/extjs/workspace/app/resources/node_modules

#do not include temporary build files or docs
/src/AppBundle/Resources/public/docs
/src/AppBundle/Resources/public/build/temp
/src/AppBundle/Resources/public/build/.sass-cache

/.vagrant
vagrant_settings.yml
*~
.DS_Store
nbproject/*
.project
.buildpath
.settings/*
.idea/*
/www

/data/enech-web/cache/*
/data/enech-web/data/media/*
/data/enech-web/logs/*
/data/enech-web/mysql/*
/data/enech-web/sessions/*
/data/enech-web/web/media/*

*.crt
*.key
*.pem
